<!DOCTYPE html>
<html lang="en">
<head>

    @await Html.PartialAsync("MetaPartial")
    @await Html.PartialAsync("CssPartial")
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

</head>
<body>

    @await Html.PartialAsync("AdminHeaderPartial")

    <main role="main" class="pt-5 pb-3">
        <div class="container mt-5">
            @RenderBody()
        </div>
    </main>

    @await Html.PartialAsync("FooterPartial")
    @await Html.PartialAsync("ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>