<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - GreatMed - <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика конфиденциальности</a>
    </div>
</footer>