@using GreatMed.Service
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

@if (ViewBag.Title != null)
{
    <title>GreatMed | @ViewBag.Title</title>    
}
else
{
    <title>@GMService.CompanyName</title>    
}

@if (ViewBag.Description != null)
{
    <meta name="description" content=@ViewBag.Description />
}
else
{
    <meta name="description" content="GreatMed - доступная медицина для каждого"/>  
}