@model MHService
@{
    string strTitle = "Редактировать запись";
    ViewBag.Title = strTitle;
}

<script src="~/js/ckeditor/ckeditor.js"></script>
<div class="pt-5">
    <h2>@strTitle</h2>
    <div>
        <form asp-area="Admin" asp-controller="GetServices" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TitlePictire" />

            <div asp-validation-summary="All"></div>
            <div class="div-box mb-3">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span class="invalid-feedback" asp-validation-for="Name"></span>
            </div>
            @*<div class="div-box mb-3">
                <label asp-for="Price"></label>
                <input class="form-control" asp-for="Price" />
                <span class="invalid-feedback" asp-validation-for="Price"></span>
            </div>*@
            <div class="div-box mb-3">
                <label asp-for="PreviewText"></label>
                <textarea class="form-control" asp-for="PreviewText"></textarea>
                <span class="invalid-feedback" asp-validation-for="PreviewText"></span>
            </div>
            <div class="div-box mb-3">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description"></textarea>
                <span class="invalid-feedback" asp-validation-for="Description"></span>
            </div>
            <label asp-for="TitlePictire"></label>
            <input class="form-control mb-2 @(Model.TitlePictire != null ? "d-none" : "")" type="file" accept=".png,.jpg,.webp,.jpeg,.img" name="titleImageFile" id="titleImageFile" />
            <div>
                @if (Model.TitlePictire != null)
                {
                    <div class="col-6 col-md-4 col-lg-3 d-flex border p-2">
                        <img class="img-block w-50 border" src="~/images/@Model.TitlePictire.Uri" />
                        <div class="w-50 p-1">
                            <button type="button" class="btn btn-danger w-100 delete-picture" picid="@Model.TitlePictire.Id">Удалить</button>
                        </div>
                    </div>
                }
            </div>
            <div class="div-box mb-3">
                <label class="form-check-label" asp-for="IsActive"></label>
                <input class="form-check-input" asp-for="IsActive">
                <span class="invalid-feedback" asp-validation-for="IsActive"></span>
            </div>
            <input class="btn btn-primary" type="submit" value="Сохранить" />
        </form>
    </div>
</div>
<script>
    $(document).ready(() => {
        $('.delete-picture').on('click', function (e) {
            let picid = $(this).attr('picid');
            let detid = $('input[name="Id"]').val();
            $.ajax({
                url: '/admin/services/removepic',
                method: 'POST',
                data: { picId: picid, detId: detid },
                success: () => {
                    $(this).parents().eq(3).find('input').removeClass('d-none');
                    $(this).parents().eq(1).remove();
    @*console.log(picid + detid)*@
                    },
                error: (response) => {
                    console.log(response)
                },
            });
        })
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.Description)');
        newCKEdit.updateElement();
    })
</script>