@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="col-12">
        <ul class="fs-3">1. ОБЩИЕ ПОЛОЖЕНИЯ
            <li class="fs-5">
                1.1. Настоящая Политика в отношении обработки персональных данных
                (далее — Политика) составлена в соответствии с пунктом 2 статьи 18.1
                Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных»
                (далее — Закон о персональных данных), а также иными нормативноправовыми актами в области защиты и обработки персональных данных и
                действует в отношении всех персональных данных (далее — Данные), которые
                Организация (далее — Оператор, Общество) может получить от субъекта
                персональных данных, являющегося стороной по гражданско-правовому
                договору, а также от субъекта персональных данных, состоящего с
                Оператором в отношениях, регулируемых трудовым законодательством
                (далее — Работник).
            </li>
        </ul>
    </div>
</div>