a, a:hover {
    color: inherit;
    text-decoration: inherit;
}

.services.container a .service-card {
    transition: .5s
}

.services.container a:hover .service-card {
    box-shadow: 0px 0px 40px rgb(0 0 0 / 20%);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
