@model IEnumerable<MHService>
<h1 class="display-5 text-center mb-5 pt-5">Наши услуги</h1>
<div class="services">
    <div class="row">
        @{
            foreach (var item in Model)
            {
                <div data-bs-toggle="modal" data-bs-target="#serviceModal" class="col-lg-3 col-md-6 col-sm-12 mb-4" style="height: auto; cursor: pointer">
                    <div class="service-card border rounded h-100 p-3" sid="@item.Id">
                        <h3 class="fs-20 mb-3">@item.Name</h3>
                        <div class="">@item.PreviewText</div>
                        @if (item.TitlePictire != null)
                        {
                            <img class="w-100 img-thumbnail my-3" src="~/images/@item.TitlePictire.Uri"></img>
                        }
                    </div>
                </div>

            }
        }
    </div>
</div>
<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-light">
            <div class="modal-header"></div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
